.content-info {
	position: fixed;
	z-index: 900;
	top: 5%;
	left: 0;

	width: 100%;
	height: 100vh;

	background-color: rgba(0,0,0,0.8);

	overflow-y: auto;
	overflow-x: hidden;

	color: #ffffff;
	
	&__wrapper {
		position: absolute;
		z-index: 900;
		top: 0;
		left: 50%;

		width: 80%;
		padding: 70px 20px;

		transform: translateX(-50%);
	}

	&__container {
		width: 90%;
		margin: 0 auto;
	}

	&__name {
		margin-bottom: 10px;

		font-size: 20px;
	}

	&__title {
		margin-bottom: 10px;

		font-size: 18px;
	}

	&__row {
		position: relative;

		display: flex;
		justify-content: space-between;
	}

	&__col {
		min-width: 0;
	}

	&__col:nth-child(1) {
		width: 55%;
	}

	&__col:nth-child(2) {
		width: 40%;
	}

	&__video-content { margin-bottom: 20px; }

	&__tagline {
		position: relative;

		display: flex;
		justify-content: space-between;
		align-items: center;

		margin-bottom: 20px;
	}

	&__info {
		display: block;

		margin-bottom: 20px;
	}

	&__site {
		position: relative;

		padding-right: 5%;

		color: #fff;

		&::after {
			content: '\27A4';

			position: absolute;
			top: 0;
			right: 0;

			transition: right .2s; 
		}

		&:hover, &:focus {
			&::after {
				right: -5%;
			}
		}
	}

	.credits {

		&__list {

		}

		&__item {
			display: flex;
			flex-direction: column;
			align-items: center;
		}

		&__image {
			min-width: 100px;
			width: 100px;
			height: 120px;

			border-radius: 50%;
		}

		&__name {
			font-size: 14px;
			text-align: center;
		}
	}
}

@media screen and (max-width: $desktopWidth) {
  .content-info {

  	&__container {
			width: 70%;
		}

		&__row {
			flex-direction: column;
			align-items: center;
		}

		&__col:nth-child(1),
		&__col:nth-child(2) { width: 100%; }

		&__site {
			display: inline-block;

			margin-bottom: 20px;
		}

		.credits {

			&__list {

			}

			&__item {
				display: flex;
				flex-direction: column;
				align-items: center;
			}

			&__image {
				min-width: 100px;
				width: 100px;
				height: 120px;

				border-radius: 50%;
			}

			&__name {
				font-size: 14px;
			}
		}
	}
}

@media screen and (max-width: $smDesktopWidth) {
  .content-info {

  	&__container {
			width: 80%;
		}
	}
}

@media screen and (max-width: $tableWidth) {
  .content-info {

  	&__container {
			width: 100%;
		}
	}
}

@media screen and (max-width: $smTableWidth) {
  .content-info {

  	&__video-content { max-height: 260px; }

  	&__site {
			&::after { right: -10%; } 

			&:hover, &:focus {
				&::after { right: -15%; }
			}
		}
	}
}

@media screen and (max-width: $phoneWidth) {
  .content-info {

  	&__wrapper { width: 85%; }

  	&__video-content { max-height: 150px; }
	}
}
