.button {
	display: inline-block;

	border-radius: 4px;
	background-color: #ffffff;

	cursor: pointer;

	font-size: $mainFontSize;
	color: $primary-color;

	@include buttonAnimation;


	&:hover, &:focus {
		background-color: $primary-color;

		color: #fff;
	}

	&--simple { 
		padding: 5px;
	}

	&--rect {
		min-width: 117px;
		padding: 9px 32px;
		
		border: 1px solid $primary-color;

		@media screen and (max-width: $tableWidth) {
	    padding: 9px 10px;
	    min-width: 66px;

	    font-size: 14px;
	  }
	}

	&--close {
		font-size: 30px;
		color: $default-color;

		&:hover, &:focus {
			background-color: #fff;
			
			color: $primary-color;
		}
	}
}

